{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
    <div class="row py-4">
        <div class="col-md-12 my-2">
            <p>Wellcome, {{request.user.username}}</p>
        </div>
        <div class="col-md-12 my-2">
            <a href="#">Change Password</a>
        </div>
        <div class="col-md-12 my-2">
            <a href="{% url "logout" %}">Logout</a>
        </div>
        
    </div>
</div>

{% endblock content %}


